{% extends 'base.html.twig' %}

{% block title %} - Les concours ludiques{% endblock %}

{% block body %}
    {% for competition in competitions %}
        {% if loop.index is odd %}
            <section class="flex items-center justify-between gap-4 my-4">
                <article class="p-4 border rounded-lg shadow-md bg-gray-100 w-full">
                    <div class="col-left">{{ competition.title }}</div>
                    <div class="col-left">{{ competition.text }}</div>
                </article>
                <img src="{{ competition.image }}" alt="salon" class="w-1/2 h-auto object-cover rounded-lg">
            </section>
        {% else %}
            <section class="flex items-center justify-between gap-4 my-4">
                <img src="{{ competition.image }}" alt="cours" class="w-1/2 h-auto object-cover rounded-lg">
                <article class="p-4 border rounded-lg shadow-md bg-gray-100 w-full">
                    <div class="col-left">{{ competition.title }}</div>
                    <div class="col-left">{{ competition.text }}</div>
                </article>
            </section>
        {% endif %}
        {% else %}
            <p class="text-gray-500">Aucun concours disponible pour le moment.</p>
    {% endfor %}
{% endblock %}