{% extends 'base.html.twig' %}

{% block title %} - Les cours & séances{% endblock %}

{% block body %}
    {% for exercise in exercises %}
        {% if loop.index is odd %}
            <section class="flex items-center justify-between gap-4 my-4">
                <article class="p-4 border rounded-lg shadow-md bg-gray-100 w-full">
                    <div class="col-left">{{ exercise.title }}</div>
                    <div class="col-left">{{ exercise.description }}</div>
                </article>
                <img src="{{ asset('uploads/salon-fitness.jpg') }}" alt="salon" class="w-1/2 h-auto object-cover rounded-lg">
            </section>
        {% else %}
            <section class="flex items-center justify-between gap-4 my-4">
                <img src="{{ asset('uploads/cours1.jpg') }}" alt="cours" class="w-1/2 h-auto object-cover rounded-lg">
                <article class="p-4 border rounded-lg shadow-md bg-gray-100 w-full">
                    <div class="col-left">{{ exercise.title }}</div>
                    <div class="col-left">{{ exercise.description }}</div>
                </article>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}